*{
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'M PLUS Code Latin', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Zen Kurenaido', sans-serif;
}